* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none;
}

body {
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  background-color: #292a2e;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.cursor {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  pointer-events: none;
}

.cursor::after, .cursor::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #fff;
  border-radius: 50px;
}

.cursor::before {
  background-color: white;
}

.cursor.click::before {
  -webkit-animation: click .5s ease-in-out forwards;
          animation: click .5s ease-in-out forwards;
}

@-webkit-keyframes click {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(3);
            transform: translate(-50%, -50%) scale(3);
  }
}

@keyframes click {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(3);
            transform: translate(-50%, -50%) scale(3);
  }
}
